@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welp</h1>
    <p class="lead">Welp is a free restaurant rater for building great reviews and honest reviews while filtering out all Karens.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Welp gives you a powerful way to rate restaurants honestly and provides a clean separation of Karens while giving you full control over your ratings for an enjoyable, practical experience.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more recommendations</h2>
        <p>Welp is a free Google Chrome extension that makes it easy to add, remove, and update recommendations and restaurants in the Welp database.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Group Hosting</h2>
        <p>You can easily find a restaurant to host your party that offers the right mix of features and price for your guests.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>